<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RegisterStocks" type="StockData.ConfigFile.RegisterStocksConfig, StockData" />
  </configSections>

  <RegisterStocks>
    <Stocks>
      <Stock name="Alphabet" symbol="GOOG" spread="27"/>
      <!--<Stock name="Apple" symbol="AAPL" spread="8"/>
      <Stock name="NetFlix" symbol="NFLX" spread="10"/>
      <Stock name="Amazon" symbol="AMZN" spread="58"/>-->
    </Stocks>
  </RegisterStocks>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>